<!DOCTYPE html>
<html lang="en">
  {% include "shared/head" %}
  <body id="{{slug}}">
    <div id="main">
      {% include "shared/header" %}	
	  
	  {% include "shared/contact" %}

      {% include "shared/footer" %}
    </section>
    <!-- {% include "shared/analytics" %} -->
  </body>
</html>